@import url(editor.css);

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

header div {
  display: flex;
}

header button {
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

nav#folder-list {
  width: 300px;
  overflow: auto;
}

nav#folder-list div {
  cursor: pointer;
}

nav#folder-list div:hover {
  background-color: rgba(var(--color-white-rgb), 0.2);
}

nav#folder-list .file {
  color: var(--color-blue-500);
}

nav#folder-list .directory {
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#editor {
  flex: 1;
  padding: 10px;
  border: none;
  resize: none;
  font-size: 16px;
  font-family: monospace;
  overflow-y: auto;
}

#actions {
  margin: 10px;
}

#actions button {
  padding: 8px 12px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

#preview {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: var(--color-gray-200);
}

html.dark ::selection {
  color: var(--color-slate-300);
  background: var(--color-slate-950);
}

@media (max-width: 600px) {
  nav#folder-list {
    display: none;
  }

  #editor,
  #preview {
    height: 50vh;
  }
}